/* PHASE 1: Header */

body {
  font-family: 'Roboto', sans-serif;
  background-color: #eee;
}

.header {
  position: relative;
  background-color: #f00;
  color: white;
  font-size: 16px;
  width: 100%;
  z-index: 1;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  width: 900px;
  margin: 0 auto;
  border-bottom: 1px solid #eee;
  border-right: 1px solid #eee;
}

.header-logo {
  font-weight: 700;
  padding: 10px 20px;
  border-right: 1px solid #eee;
  border-left: 1px solid #eee;
}

.header-logo:hover {
  background-color: black;
}

.header-list {
  display: flex;
}

.header-list > li {
  padding: 10px 20px;
  justify-content: flex-end;
  border-left: 1px solid #eee;
}

.header-list > li:hover {
  background-color: black;
}
