/* PHASE 4: Footer */

.footer{
  background-color: white;
  border-bottom: 1px solid #aaa;
  border-right: 1px solid #aaa;
  border-left: 1px solid #aaa;
  width: 900px;
  margin: 0 auto;
  color: #ccc;
  font-size: 14px;
}

.footer-nav{
  display: flex;
  justify-content: space-between;
}

.footer-logo{
  padding: 20px;
}

.footer-list{
  display: flex;
  padding: 20px;
}

.footer-list > li {
  padding-left: 20px;
}

.footer-list > li:hover {
  color: black;
}
